/* ==========================
   CONFIGURAÇÃO GLOBAL 
   ========================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #f2f2f2;
  overflow-y: scroll;
  color: #616161;
  margin: 0 auto;
}




h1,
h2,
h3,
p,
a,
button {
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}

.textColor {
  color: #575656;
}

.color-depoimento {
  border-top: #b4b4b4 solid 0.1px;
  background-color: #ffffff;
}

/* Personalização da Caixa do Google Tradutor */
#google_translate_element {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
}




/* Esconder o botão de tradução automática */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}


/* ==========================
CONTAINER DA IMAGEM DE FUNDO ========================== */
.image-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Definir a altura completa da tela */
  overflow: hidden;
  background-image: url("../assets/imigration.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.container-global {
  width: 100%;
  margin: 0 auto;
}

/* ==========================
   NAVBAR (POSICIONADO EM CIMA DA IMAGEM)
   ========================== */
.navbar {
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background-color: #b1afaf88;
}

.paginas-navbar {
  background-color: #303f9f;
  position: fixed;
  margin: 0 auto;
  top: 0;
  
}

.index-page .navbar {
  position: fixed;
}
.navbar,
.navbar * {
  font-family: "Poppins", sans-serif !important;
  
}

.corHome {
  color: #303f9f;
}

.corHome2 {
  background-color: #d32f2f;
  color: #ffff;
}

.corHome2:hover {
  background-color: #911111;
  color: #ffff;
}

/* ==========================
   HERO COM SOBREPOSIÇÃO NA IMAGEM
   ========================== */
.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.hero-title {
  font-size: 4rem;
  font-weight: 900;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.hero-subtitle {
  font-size: 1.3rem;
  font-weight: 200;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.title-page {
  font-size: 1.8rem;
  font-weight: 500;
}

.title-page-2 {
  font-size: 1.4rem;
  font-weight: 500;
}

.subtitle-page {
  font-size: 0.9rem;
  font-weight: 400;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ==========================
   CARTÕES (GERAIS)
   ========================== */
.card {
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  border: 1px solid #f5f5dc;
  background-color: #ffffff;
}

.card-title {
  font-size: 1rem;
}

.card-text {
  font-size: 0.9rem;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* ==========================
   TELA DE LOGIN
   ========================== */
.login-page {
  position: relative;
  background: url("../assets/igualdade.png") no-repeat center center/cover;
  height: 100vh;
}

.login-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.login-page > * {
  position: relative;
  z-index: 2;
}

.login-card {
  width: 360px;
  height: 380px;
  background: linear-gradient(to bottom, #b7d3ff, #ffffff98, #ffffff2c);
  border-radius: 15px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: backdrop-filter 0.3s ease;
}

.login-card:hover {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

@media (max-width: 768px) {
  .login-card {
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
  }
}

/* ==========================
   CAMPOS DE LOGIN E INPUTS
   ========================== */

.input-group {
  border: 1px solid #ced4da;
  border-radius: 8px;
  overflow: hidden;
}

.input-group-text {
  background: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 1.2rem;
  color: #616161;
}

.input-group .form-control {
  border: none;
  padding: 10px;
  box-shadow: none;
}

.input-group:focus-within {
  border-color: #616161;
  box-shadow: 0 0 5px rgba(108, 117, 125, 0.5);
}

.toggle-password {
  cursor: pointer;
}

/* Para navegadores WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

